<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125939989775-ud833qvo0ig8r11gkjprif7bqegu20tp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125939989775-ud833qvo0ig8r11gkjprif7bqegu20tp</string>
	<key>API_KEY</key>
	<string>AIzaSyDcixYNXe8kdweHtn6fmCNeQFsACy5tkFs</string>
	<key>GCM_SENDER_ID</key>
	<string>125939989775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ionicframework.learningwords</string>
	<key>PROJECT_ID</key>
	<string>learningwords-9fb38</string>
	<key>STORAGE_BUCKET</key>
	<string>learningwords-9fb38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125939989775:ios:97ddef0cf8564fb749127a</string>
	<key>DATABASE_URL</key>
	<string>https://learningwords-9fb38.firebaseio.com</string>
</dict>
</plist>