<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173824680226-pka6vomdacgnc67bgsqloc5bk7gaue60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173824680226-pka6vomdacgnc67bgsqloc5bk7gaue60</string>
	<key>API_KEY</key>
	<string>AIzaSyCh0K4DxMAXRTaDQbRshoXF8hIFpyAQmiA</string>
	<key>GCM_SENDER_ID</key>
	<string>173824680226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ionicframework.personal-secretary</string>
	<key>PROJECT_ID</key>
	<string>personal-secretary-12a35</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-secretary-12a35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173824680226:ios:bd20d503634e49a4</string>
	<key>DATABASE_URL</key>
	<string>https://personal-secretary-12a35.firebaseio.com</string>
</dict>
</plist>